.jumbotron {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
    url('ggb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 25em;
}

.jumbotron h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 600;
  bottom: 3em;
  position: absolute;
  width: 100%;
  left:0;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

#about {
  padding-top: 7em;
  padding-bottom: 7em;
  font-family: 'Meriweather', serif;
  font-size: 150%;
}

#info{
  font-family: 'Meriweather', serif;
  font-size: 100%;
}

#social {
  list-style: none;
}
