/*INDEX STYLING*/

html, body{
  height: 100%;
}

.container {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
    url('ggb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.container h1 {
  font-family: 'Cabin', sans-serif;
  text-align: right;
  padding-right: 10%;
  color: #fff;
  font-size: 500%;
  font-weight: 100;
  bottom: 40%;
  position: absolute;
  width: 100%;
  left:0;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.container p {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: normal;
  font-weight: lighter;
  text-align: right;
  padding-right: 10%;
  color: #fff;
  font-size: 130%;
  font-weight: 100;
  bottom: 35%;
  position: absolute;
  width: 100%;
  left:0;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.container #social {
font-family: 'Source Sans Pro', sans-serif;
font-size: 100%;
letter-spacing: normal;
  left: -10%;
  bottom: 27%;
  width: 100%;
  text-align: right;
  position: absolute;
}

.container #social a{
  color: #fff;
}
